@font-face {
  font-family: "Vasir Bold";
  src: url("./assets/fonts/Vazir-Bold.ttf");
}
@font-face {
  font-family: "Vasir Light";
  src: url("./assets/fonts/Vazir-Light.ttf");
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: #07101d !important;
  font-family: "Vasir Light" !important;
}
.container-fluid {
  padding: 50px 30px !important;
}
.header-color {
  color: #ff3c00 !important;
}

.burger-menu {
  cursor: pointer;
}

.underline {
  background-color: #ff3c00;
  width: 80%;
  height: 1px;
  bottom: -6px;
  right: 7px;
}
.login-btn {
  width: 184px;
  height: 64px;
  background-color: #ff3c00 !important;
  font-family: "Vasir Bold" !important;
}
.svg-cart {
  width: 20px;
  height: 20px;
}

.header-h6 {
  font-size: 18px;
}
.bold-text {
  font-family: "Vasir Bold";
}
.size {
  font-size: 50px;
}
.header-paragraph {
  color: #ffffff80;
  font-size: 20px;
}
.serach-logo {
  right: 30px;
  bottom: 15px;
}
.input {
  border-color: #ff3c00;
  outline: none;
  padding-right: 3.5rem;
}
.bg-linear {
  background: linear-gradient(90deg, #7011ad 0%, #bc0505 49.31%, #fc630f 100%);
}
.button-size {
  font-size: 18px;
}

.header-img-wrapper {
  margin-top: 30px !important; 
  background-image: url(./assets/image/header/Rectangle\ 48.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.header-img {
  transform: translate(230px , 130px) scale(2) rotate(-1deg);
}
.header-img-path-top-right {
  transform: translate(70px , 70px);
}
.header-img-path-bottom-left {
  transform: translate(-380px , 20px);
}















@media only screen and (max-width: 992px) {
  .login-btn {
    width: 120px;
    height: 50px;
    font-size: 10px !important;
  }
  .user-logo {
    width: 20px;
  }
  .nft-logo {
    width: 70%;
  }
}
