@font-face {
  font-family: "Vasir Bold";
  src: url("./assets/fonts/Vazir-Bold.ttf");
}
@font-face {
  font-family: "Vasir Light";
  src: url("./assets/fonts/Vazir-Light.ttf");
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: #07101d !important;
  font-family: "Vasir Light" !important;
}
.container-fluid {
  padding: 50px 60px !important;
}
.header-color {
  color: #ff3c00 !important;
}

.burger-menu {
  cursor: pointer;
}

.underline {
  background-color: #ff3c00;
  width: 80%;
  height: 1px;
  bottom: -6px;
  right: 7px;
}

.login-btn {
  width: 184px;
  height: 64px;
  background-color: #ff3c00 !important;
  font-family: "Vasir Bold" !important;
}
.svg-cart {
  width: 20px;
  height: 20px;
}
.row-wrapper {
  margin-top: 30px !important;
  height: 750px;
}
.header-right {
  margin-top: 140px !important;
}
.header-h6 {
  font-size: 18px;
}
.bold-text {
  font-family: "Vasir Bold";
}
.size {
  font-size: 50px;
}
.header-paragraph {
  color: #ffffff80;
  font-size: 20px;
}
.serach-logo {
  right: 30px;
  bottom: 15px;
}
.input {
  border-color: #ff3c00;
  outline: none;
  padding-right: 3.5rem;
}
.bg-linear {
  background: linear-gradient(90deg, #7011ad 0%, #bc0505 49.31%, #fc630f 100%);
}
.button-size {
  font-size: 18px;
  border-radius: 30px !important;
}
.header-img {
  transform: translate(210px, -375px) scale(1.9) rotate(-1deg);
  cursor: pointer;
}
.header-img-path-top-right {
  transform: translate(70px, 110px);
}
.header-img-path-bottom-left {
  transform: translate(-395px, -520px);
}
.header-logo-box-wrapper {
  width: 50% !important;
  height: 70px !important;
  backdrop-filter: blur(10px);
  transform: translate(-30px, -580px);
}
.logo-113 {
  transform: translate(50px, 0px);
}
.logo-112 {
  transform: translate(29px, 0px);
}
.logo-114 {
  transform: translate(7px, 0px);
}
.logo-116 {
  transform: translate(-15px, 0px);
}
.header-logo-box-size {
  width: 35% !important;
}
.header-logo-box {
  width: 50% !important;
  height: 100%;
}

/* start main */

.btn-wallet {
  background: linear-gradient(
    270.13deg,
    #ff640d 6.95%,
    rgba(254, 76, 11, 0.975119) 19.3%,
    rgba(252, 6, 6, 0.903404) 43.99%,
    rgba(130, 18, 241, 0.81) 95.06%
  );
  width: 70px;
  height: 70px;
}
.wallet-box-wrapper {
  height: 300px !important;
}
.wallet-box-size {
  width: 160px !important;
  height: 160px;
  background-color: #1a1a1d;
}
.wallet-box1 {
  border: 1px solid;
  border-image: linear-gradient(317.29deg, #fc280c 8.01%, #07101d 100%);
  border-image-slice: 1;
}
.wallet-box2 {
  border: 1px solid;
  border-image: linear-gradient(314.69deg, #00d1ff 25.82%, #07101d 87.02%);
  border-image-slice: 1;
}
.wallet-box3 {
  border: 1px solid;
  border-image: linear-gradient(314.69deg, #760aff 13.25%, #07101d 87.02%);
  border-image-slice: 1;
}
.wallet-box4 {
  border: 1px solid;

  border-image: linear-gradient(314.69deg, #fe007a 25.82%, #07101d 87.02%);
  border-image-slice: 1;
}
.wallet-box5 {
  border: 1px solid;

  border-image: linear-gradient(314.69deg, #ffbf1c 25.82%, #07101d 87.02%);
  border-image-slice: 1;
}
.wallet-box-logo {
  width: 50px !important;
  height: 50px !important;
  border-image-slice: 1;
}

.hot-bids-card {
  width: 30%;
  background: #ffffff1a !important;
}
.eth-logo {
  width: 12%;
}
.hot-bids-order-btn {
  background: linear-gradient(
    270.13deg,
    #ff640d 6.95%,
    rgba(254, 76, 11, 0.975119) 19.3%,
    rgba(252, 6, 6, 0.903404) 43.99%,
    rgba(130, 18, 241, 0.81) 95.06%
  );
}
.countdown-box {
  width: 45%;
  height: 12%;
  top: 5%;
  right: 25%;
  backdrop-filter: blur(10px);
}
.logo-hot-bids-box-wrapper {
  width: 12%;
  height: 12%;
  top: 5%;
  left: 15%;
  backdrop-filter: blur(10px);
}
.logo-hot-bids-box {
  width: 60%;
}

.info-box-wrapper {
  margin-top: 180px;
}

.info-box1 {
  border: 1px solid #00ff1a;
  background: linear-gradient(
    106.88deg,
    rgba(0, 255, 26, 0.1) 19.63%,
    rgba(255, 255, 255, 0.1) 98.74%
  );
  width: 30%;
}
.info-box2 {
  border: 1px solid #5300ff;
  background: linear-gradient(
    106.88deg,
    rgba(74, 1, 224, 0.1) 19.63%,
    rgba(255, 255, 255, 0.1) 98.74%
  );
  width: 30%;
}
.info-box3 {
  border: 1px solid #ff1f00;
  background: linear-gradient(
    106.88deg,
    rgba(255, 19, 4, 0.1) 19.63%,
    rgba(255, 255, 255, 0.1) 98.74%
  );
  width: 30%;
}

.info-box-badge {
  top: -45px;
  right: 30px;
  backdrop-filter: blur(5px);
  border: 1px solid;
  width: 70px;
  height: 70px;
}
.info-box-badge-img {
  width: 55%;
}

.trends-wrapper {
  margin-top: 100px;
}

.trends-box-img {
  width: 310px;
  height: 310px;
}
.trends-box-body {
  backdrop-filter: blur(10px);
  width: 95%;
  height: 170px !important;
  bottom: -90px;
  right: -5px;
  z-index: -1;
}

.top-creators-wrapper {
  margin-top: 200px;
}
.top-creator-box-wrapper {
  grid-template-columns: repeat(3, 1fr);
}
.top-creator-box {
  height: 130px;
  backdrop-filter: blur(5px);
  background-color: rgb(250, 250, 250, 0.13);
  border: 2px solid #ffffff33;
}
.top-creator-box-star-img {
  width: 80px;
}
.top-creator-box-img {
  width: 40%;
}

.align-self-end {
  font-size: 12px;
}

.news-box {
  width: 96%;
  height: 350px;
  margin: 100px auto;
  background: linear-gradient(
      90deg,
      #a50e86 0.16%,
      #c10b70 24.02%,
      #e83947 38.73%,
      #df330d 55.88%,
      #c55212 81.05%,
      #d37506 100%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));

  border: 10px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  border-right: none;
}

.input-group-wrapper {
  height: 50px;
  margin: 90px auto;
}
.btn-news {
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 20px !important;
  justify-content: center;
  width: 20% !important;
  font-size: 20px !important;
}
.input-news {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  width: 20% !important;
}

.footer {
  background: linear-gradient(0deg, #091028, #091028),
    linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.footer-wrapper {
  height: 310px;
  border-top: 1px solid;

border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
border-image-slice: 1;


}
.footer-info {
  background: radial-gradient(
    62.37% 62.37% at 50% 50%,
    rgba(8, 52, 164, 0.2) 21.7%,
    rgba(7, 15, 28, 0) 100%
  );
  width: 25%;
}

.discord-logo {
  background: linear-gradient(90deg, #9a5bff 0%, #ff1212 53.12%, #ff7f56 100%);
}

.join-text {
  padding-bottom: 50px;
}

@media only screen and (max-width: 992px) {
  .login-btn {
    width: 120px;
    height: 50px;
    font-size: 10px !important;
  }
  .user-logo {
    width: 20px;
  }
  .nft-logo {
    width: 70%;
  }
}

@media only screen and (max-width: 460px) {
  .container-fluid {
    padding: 50px 30px !important;
  }
  .header-right {
    margin-top: 50px !important;
  }
  .header-h6 {
    font-size: 11px;
  }
  .header-h1 {
    font-size: 28px;
  }
  .header-paragraph {
    margin-top: 480px !important;
    font-size: 19px !important;
  }
  .bg-header-img {
    transform: scale(1) translate(-8px, -650px);
  }
  .header-img {
    transform: translate(143px, -920px) scale(2) rotate(-1deg);
  }
  .header-img-path-top-right {
    transform: translate(0px, -630px);
  }
  .header-img-path-bottom-left {
    transform: translate(-270px, -1010px);
  }
  .header-logo-box-wrapper {
    width: 50% !important;
    height: 40px !important;
    backdrop-filter: blur(10px);
    transform: translate(-8px, -1065px);
  }
  .header-logo-box {
    width: 45% !important;
    height: 100%;
  }
  .logo-113 {
    transform: translate(27px, 0px);
  }
  .logo-112 {
    transform: translate(12px, 0px);
  }
  .logo-114 {
    transform: translate(-3px, 0px);
  }
  .logo-116 {
    transform: translate(-18px, 0px);
  }
  .header-logo-box-size {
    width: 40% !important;
  }
  .h6-logo-box {
    width: 100%;
    font-size: 14px;
  }
  .button-size-wrapper {
    width: 50% !important;
    margin: 0px auto;
  }
  .button-size {
    font-size: 13px;
    border-radius: 12px !important;
  }
}
