* {
  box-sizing: border-box;
}
body {
  font-family: kalameh;
  background-color: #07101d;
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/kalameh/_Woff2/KalamehWeb-Black.woff2)
    format(woff2);
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/kalameh/_Woff2/KalamehWeb-Bold.woff2)
    format(woff2);
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/kalameh/_Woff2/KalamehWeb-Regular.woff2)
    format(woff2);
}
@font-face {
  font-family: gilroy;
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/gilroy/Gilroy-Black.woff2) format(woff2);
}
@font-face {
  font-family: gilroy;
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/gilroy/Gilroy-Bold.woff2) format(woff2);
}
@font-face {
  font-family: gilroy;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/gilroy/Gilroy-Regular.woff2) format(woff2);
}
:root {
  --linear_g: linear-gradient(to right, #7011ad, #bc0505, #fc630f);
  /* background-image: var(--linear_g); */
}
.containerblur-1 {
  position: relative;
  filter: blur(70px);
  z-index: -3;
}
.containerblur-1::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 300px;
  background-color: #9d0aff3f;
  right: -60px;
  top: 0;
  box-shadow: #9d0aff43 1px 1px 200px;
}

.containerblur-2 {
  overflow: hidden;
  position: absolute;
  filter: blur(70px);
  z-index: -3;
  left: 0px;
  bottom: -1600px;
  width: 300px;
  height: 400px;
  border-radius: 300px;
  background-color: #00ffb314;
  box-shadow: #00ffb314 1px 1px 200px;
}
.containerblur-3 {
  position: relative;
  filter: blur(70px);
  z-index: -3;
}
.containerblur-3::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 600px;
  border-radius: 300px;
  background-color: #e20aff23;
  right: -300px;
  box-shadow: #e20aff23 1px 1px 200px;
}
.containerblur-4 {
  position: relative;
  filter: blur(50px);
  z-index: -3;
}
.containerblur-4::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background-color: #0a4fff23;
  right: -40px;
  box-shadow: #0a4fff23 1px 1px 200px;
}
.menu-navbar a {
  color: #949494;
  font-size: 18px;
}
.menu-navbar a:hover {
  color: #ff3c00;
}
.active {
  color: #ff3c00 !important;
}
.brand-nft {
  font-family: gilroy;
  font-weight: bold;
  font-size: 32px;
}
.btn-login {
  background-color: #ff3c00;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px 15px;
}
.sideBarBgColor {
  background-color: #07101d;
}
.text-span {
  color: #ff3c00;
}
.header-content-right {
  width: 60%;
}
.header-content-right h1 {
  font-size: 64px;
  font-weight: 700;
}
.wraper-input-button {
  width: 82%;
  height: 68px;
}
.wraper-input-button input {
  height: 100%;
  width: 55%;
  background-color: #07101d;
  border: 1px solid #ff3c00;
  color: #ffffff;
  outline: none;
  padding-right: 20px;
}
.wraper-input-button button {
  width: 42%;
  white-space: nowrap;
  font-weight: 700;
  background-image: var(--linear_g);
}
.header-content-left {
  width: 40%;
}
.container-header-photos {
  height: 640px;
}
.photo1 {
  position: absolute;
  object-fit: cover;
  width: 200%;
  left: 0px;
  top: 0px;
}
.photo2 {
  position: absolute;
  bottom: 0px;
  left: 20px;
}
.photo3 {
  position: absolute;
  top: 130px;
  right: -90px;
}
.box-photo {
  position: absolute;
  bottom: -20px;
  background-color: #ffffff1a;
  backdrop-filter: blur(10px);
}
.box-photo span {
  font-weight: 600;
  font-size: 24px;
}
.box-photo img {
  width: 40%;
}
.title-box{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.title-box-icon {
  background-image: var(--linear_g);
  border-radius: 100px;
  width: 81px;
  height: 81px;
}
.see-all-box span{
    font-size: 20px !important;
}
.boxes-wallet .box {
  width: 188px;
  height: 184px;
  background-color: #ffffff0f;
}
.boxes-wallet > .box1 {
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to bottom right, #07101d, #fc280c);
  border-image-slice: 1;
  border-image-repeat: round;
}
.boxes-wallet > .box2 {
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to bottom right, #07101d, #00d1ff);
  border-image-slice: 1;
  border-image-repeat: round;
}
.boxes-wallet > .box3 {
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to bottom right, #07101d, #760aff);
  border-image-slice: 1;
  border-image-repeat: round;
}
.boxes-wallet > .box4 {
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to bottom right, #07101d, #fe007a);
  border-image-slice: 1;
  border-image-repeat: round;
}
.boxes-wallet > .box5 {
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to bottom right, #07101d, #ffbf1c);
  border-image-slice: 1;
  border-image-repeat: round;
}

.boxes-wallet .box span {
  color: #ffffff80;
  font-size: 24px;
}
.box1::after {
  content: "";
  width: 38px;
  height: 22px;
  background-color: #07101d;
  position: absolute;
  border-bottom: 1px solid #fc280c;
  rotate: 137deg;
  bottom: -6px;
  right: -13px;
}
.box2::after {
  content: "";
  width: 38px;
  height: 22px;
  background-color: #07101d;
  position: absolute;
  border-bottom: 1px solid #00d1ff;
  rotate: 137deg;
  bottom: -6px;
  right: -13px;
}
.box3::after {
  content: "";
  width: 38px;
  height: 22px;
  background-color: #07101d;
  position: absolute;
  border-bottom: 1px solid #760aff;
  rotate: 137deg;
  bottom: -6px;
  right: -13px;
}
.box4::after {
  content: "";
  width: 38px;
  height: 22px;
  background-color: #07101d;
  position: absolute;
  border-bottom: 1px solid #fe007a;
  rotate: 137deg;
  bottom: -6px;
  right: -13px;
}
.box5::after {
  content: "";
  width: 38px;
  height: 22px;
  background-color: #07101d;
  position: absolute;
  border-bottom: 1px solid #ffbf1c;
  rotate: 137deg;
  bottom: -6px;
  right: -13px;
}
.title-box {
  margin-top: 90px;
}
.container-cards .card {
  width: 31%;
  background-color: #ffffff1a;
}
.card-body {
  padding: 30px 0px 0px 0px !important;
}
.container-cards .card h2 {
  font-family: gilroy;
  font-weight: bold;
}
.container-cards .card button {
  border: none;
  outline: none;
  color: #ffffff;
  background-image: var(--linear_g);
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 13px;
  width: 60% !important;
}
.card-image {
  position: relative;
}
.heart-time-box {
  position: absolute;
  left: 30px;
  top: 30px;
}
.heart-time-box > div {
  font-size: 22px;
  background-color: #ffffff1a;
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 30px;
}
.price-off-box {
  font-size: 20px;
}
.supporter-boxes {
  margin-top: 130px;
}
.box-support {
  width: 31%;
  border-radius: 10px;
}
.box-support1 {
  background-image: linear-gradient(to right, #00ff1a1a, #ffffff1a);
  border: 0.5px solid #00ff1a;
}
.box-support2 {
  background-image: linear-gradient(to right, #4a01e01a, #ffffff1a);
  border: 1px solid #5300ff;
}
.box-support3 {
  background-image: linear-gradient(to right, #ff13041a, #ffffff1a);
  border: 1px solid #ff1f00;
}
.box-support h3 {
  font-size: 32px;
}
.box-support p {
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
}

.support-icon-wraper {
  position: absolute;
  top: -50px;
  right: 40px;
  backdrop-filter: blur(40px);
  background-color: #ffffff14;
  border: 0.5px solid #ffffff80;
  width: 90px;
  height: 89px;
  border-radius: 20px;
}
.trends {
  margin-top: 0px;
}
.trend-boxes {
  margin-top: 50px;
}
.trendbox {
  width: 31%;
  height: 464px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trendcontent {
  width: 100%;
  border-radius: 20px;
  position: relative;
}
.trendcontent::after {
  content: "";
  width: 100%;
  height: 200px;
  background-color: #ffffff1a;
  position: absolute;
  bottom: 6px;
  right: 0;
  border-radius: 20px;
  z-index: -1;
}
.trendbox h3 {
  font-size: 32px;
}
.trendbox span {
  font-size: 20px !important;
}
.img-trend4 {
  width: 344px;
}

.row-box {
  padding: 20px;
  background-color: #ffffff1a;
  border: 2px solid #ffffff33;
  border-radius: 10px;
}
.row-box p {
  font-size: 22px;
}
.row-box span {
  font-size: 18px;
}
.footer-input-box {
  margin-top: 70px;
  background: linear-gradient(
    to right,
    #a50e86,
    #c10b70,
    #e83947,
    #df330d,
    #c55212,
    #d37506
  );
  border-radius: 14px;
}
.input-box-wraper {
  border: 10px solid #ffffff4d;
  border-radius: 14px;
  padding: 50px 30px;
}
.input-box-wraper h5 {
  font-size: 42px;
  font-weight: 600;
}
.input-box-wraper p {
  font-size: 20px;
  color: #ffffffcc;
}
.input-email-footer {
  width: 50%;
  display: flex;
  height: 65px;
}
.input-email-footer input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 30px;
  font-size: 22px;
}
.input-email-footer button {
  outline: none;
  border: none;
  width: 30%;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  background-color: #07101d;
}
.img-footer1 {
  position: absolute;
  left: -10px;
  top: -10px;
}
.img-footer2 {
  position: absolute;
  right: -10px;
  bottom: -10px;
}
.img-footer3,
.img-footer4 {
  display: none;
}
footer {
  margin-top: 70px;
  width: 100%;
  margin-top: 70px;
  border-top: 1px solid;
  border-image: linear-gradient(to right, #ffffff00, #ffffff);
  border-image-slice: 1;
  background-color: #11266e24;
}
.footer-wraper {
  padding-bottom: 63px;
}
.footer-wraper div:first-child {
  width: 29%;
}
.footer-wraper h5 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer-wraper a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
}
.footer-wraper p {
  font-size: 18px;
  font-weight: normal;
  line-height: 37px;
  width: 100%;
}
.footer-wraper button {
  outline: none;
  border: none;
  background-color: #ffffff1a;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}
.footer-wraper button:hover{
    background-image: linear-gradient(to right, #9A5BFF, #FF1212, #FF7F56);
}
.footer-wraper button img {
  width: 100%;
}
#discord {
    background-image: linear-gradient(to right, #9A5BFF, #FF1212, #FF7F56);
}
#top-creators{
margin-top: 0px !important;
}
@media screen and (max-width: 1400px) {
  .trendbox-img {
    display: flex;
    justify-content: center;
  }
  .img-trend {
    width: 80%;
  }
  .row-box p {
    font-size: 20px;
  }
  .row-box span {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .wraper-input-button button {
    width: 42%;
    white-space: nowrap;
    font-weight: 600;
    font-size: 18px !important;
    background-image: var(--linear_g);
  }
  .container-header-photos {
    height: 500px;
  }
  .container-cards .card button {
    width: 70% !important;
    font-size: 18px !important;
  }
  .card-body > p{
    font-size: 18px !important;
  }

  .heart-time-box > div {
    font-size: 20px;
  }
  .box-support h3 {
    font-size: 24px;
  }
  .box-support p {
    font-size: 16px;
    line-height: 34px;
  }
  .trendbox h3 {
    font-size: 24px;
  }
  .trendbox span {
    font-size: 18px !important;
  }
  .row-box-picture {
    width: 80px;
  }
  .row-box {
    padding: 20px;
  }
  .input-email-footer button {
    width: 30%;
    font-size: 24px;
  }
}
@media screen and (max-width: 992px) {
  .header-content-right {
    width: 100%;
  }
  .header-content-right p {
    font-size: 18px !important;
  }
  .header-content-right h1 {
    font-size: 45px;
    font-weight: 700;
  }
  .header-content-left {
    width: 70%;
  }
  .container-header-photos {
    height: 640px;
  }
  .photo1 {
    left: -30px;
    top: 0px;
  }
  .photo2 {
    bottom: 50px;
    left: 0px;
  }
  .photo3 {
    top: 50px;
    right: 0px;
    rotate: 324deg;
  }
  .box-photo {
    bottom: 20px;
    width: 60%;
  }
  .box-photo span {
    font-weight: 600;
    font-size: 18px;
  }
  .wraper-input-button button {
    width: 60%;
  }
  .container-cards .card {
    width: 48%;
    background-color: #ffffff1a;
  }
  .container-cards .card h2 {
    font-size: 24px;
  }
  .container-cards .card p {
    font-size: 16px !important;
  }
  .price-off-box {
    font-size: 14px;
  }
  .box-support {
    width: 100%;
    margin-bottom: 3rem;
  }
  .box-support h3 {
    font-size: 32px;
  }
  .box-support p {
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
  }
  .trendbox {
    width: 45%;
    height: 197px;
    margin-bottom: 180px;
  }
  .trendbox h3 {
    font-size: 22px;
  }
  .trendbox span {
    font-size: 15px !important;
  }
  .img-trend4 {
    width: 250.5px;
    height: 250.5px;
  }
  .top-creators {
   margin-top: 50px;
  }
  .input-email-footer {
    width: 70%;
    display: flex;
    height: 65px;
  }
  .input-email-footer input {
    padding-right: 20px;
    font-size: 18px;
  }
  .footer-wraper h5 {
    font-size: 22px;
  }
  .footer-wraper a {
    font-size: 15px;
    font-weight: normal;
  }
  .footer-wraper p {
    font-size: 15px;
    font-weight: normal;
    line-height: 37px;
    width: 100%;
  }
  .footer-wraper button {
    outline: none;
    border: none;
    background-color: #ffffff1a;
    border-radius: 10px;
    width: 40px;
    height: 40px;
  }
  .footer-wraper div:first-child {
    width: 70%;
  }
  .footer-wraper h5 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .footer-wraper a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
  }
  .footer-wraper p {
    font-size: 18px;
    font-weight: normal;
    line-height: 37px;
    width: 100%;
  }
  .footer-wraper button {
    outline: none;
    border: none;
    background-color: #ffffff1a;
    border-radius: 10px;
    width: 50px;
    height: 50px;
  }
  .title-box-icon {
    width: 71px;
    height: 71px;

  }
  .title-box-icon img{
    width: 40px;
  }
  .heart-time-box img{
    width: 33px;
  }
}
@media screen and (max-width: 767px) {
  .header-content-right {
    width: 100%;
  }
  .header-content-right p {
    font-size: 16px !important;
  }
  .header-content-right h1 {
    font-size: 32px;
    font-weight: 700;
  }
  .box-photo span {
    font-weight: 600;
    font-size: 14px;
  }
  .container-header-photos {
    height: 500px;
  }
  .title-box span {
    font-size: 18px !important;
  }
  .title-box p {
    font-size: 20px !important;
  }
  .title-box-icon {
    width: 61px;
    height: 61px;
  }
  .title-box-icon img{
    width: 30px;
  }
  .container-cards .card button {
    font-size: 16px !important;
  }
  .heart-time-box > div {
    font-size: 16px;
  }
  .container-cards .card .card-body span{
    font-size: 15px !important;
  }
  .boxes-wallet .box {
    width: 158px;
    height: 154px;
  }
  .boxes-wallet .box span {
    font-size: 18px;
  }
  .see-all-arrow {
    width: 24px;
  }
  .img-trend4 {
    width: 187.75px;
    height: 187.75px;
  }
  .trendbox {
    width: 45%;
    height: 197px;
    margin-bottom: 90px;
  }
  .row-box {
    padding: 10px;
  }
  .row-box p {
    font-size: 16px;
  }
  .row-box span {
    font-size: 13px;
  }
  .footer-input-box {
    background: linear-gradient(to bottom, #d37506, #df330d, #a50e86);
    border-radius: 14px;
    overflow: hidden;
  }
  .input-box-wraper {
    border: none;
    padding: 50px 30px;
  }
  .input-box-wraper h5 {
    font-size: 24px;
    font-weight: 600;
  }
  .input-box-wraper p {
    font-size: 16px;
    color: #ffffffcc;
  }
  .input-email-footer input {
    padding-right: 20px;
    font-size: 16px;
  }
  .input-email-footer {
    width: 80%;
    display: flex;
    height: 65px;
  }
  .input-email-footer button {
    font-size: 20px;
    width: 40%;
  }
  .input-email-footer {
    height: 55px;
  }
  .img-footer1 {
    display: none;
  }
  .img-footer2 {
    display: none;
  }
  .img-footer3 {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .img-footer4 {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .footer-a-wraper h5 {
    font-size: 22px;
  }
  .footer-a-wraper a {
    font-size: 16px;
  }
  .heart-time-box img{
    width: 25px;
  }
}
@media screen and (max-width: 580px) {
  .trendbox {
    width: 80%;
    height: 197px;
    margin-bottom: 200px;
  }
  .trendbox4 {
    display: none;
  }
  .row-box p {
    font-size: 20px;
  }
  .row-box span {
    font-size: 16px;
  }
  .input-box-wraper {
    border: none;
    padding: 50px 30px;
  }
  .input-box-wraper h5 {
    font-size: 24px;
    font-weight: 600;
  }
  .input-box-wraper p {
    font-size: 16px;
    color: #ffffffcc;
  }
  .input-email-footer input {
    padding-right: 20px;
    font-size: 16px;
  }
  .input-email-footer button {
    font-size: 20px;
  }
}
@media screen and (max-width: 520px) {
  .header-content-right h1 {
    font-size: 28px;
    font-weight: 700;
  }
  .box-photo span {
    font-weight: 600;
  }
  .container-header-photos {
    height: 470px;
  }
  .photo2 {
    bottom: 40px;
    left: 0px;
  }
  .photo3 {
    top: 20px;
    right: 0px;
    rotate: 344deg;
  }
  .header-content-right button {
    width: 80%;
  }
  .container-cards .card button {
    font-size: 14px !important;
  }
  .container-cards .card-body p {
    font-size: 12px !important;
  }
  .heart-time-box {
    position: absolute;
    left: 20px;
    top: 30px;
  }
  .heart-time-box > div {
    font-size: 14px;
    padding: 5px;
    border-radius: 30px;
  }
  .boxes-wallet .box {
    width: 108px;
    height: 104px;
  }
  .boxes-wallet .box span {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .container-header-photos {
    height: 400px;
  }
  .box-photo {
    width: 80%;
}
  .container-cards .card button {
    width: 90% !important;
    font-size: 12px !important;
  }
  .container-cards .card .card-body span{
    font-size: 12px !important;
  }
  .price-off-box {
    font-size: 12px;
  }
  .title-box span {
    font-size: 12px !important;
  }
  .title-box p {
    font-size: 16px !important;
  }
  .trendbox {
    width: 80%;
    height: 197px;
    margin-bottom: 180px;
  }
}
